In [1]:
name="Harshita Jain"
print(name)

Harshita Jain

In [9]:
x=int(input("enter the value"))
y=int(input("enter the value"))
z=x+y
print(z)
if z > 0:
    print("The sum is positive.")
else:
    print("The sum is negative.")

enter the value -10
enter the value 2

-8
The sum is negative.

In [17]:
x=12345
y=int(input("enter the value"))
if x==y:
    print("correct")
else:
    print("please enter valid input")

enter the value 1

please enter valid input

In [26]:
firstname="harshita"
lastname="jain"
wholename="harshita" + " "+ "jain"
print(wholename)

harshita jain

In [27]:
list1=[1,2,3,4]
list2=[1,2,3,4]
sum_list2=0
mul_list1=1
for i in list1:
    mul_list1*=i
    sum_list2+=i
print(mul_list1)
print(sum_list2)

24
10

In [78]:
List = [5, 8,4,18,8,55,6,8,3,18,5,3,44,]
original=[ ]
duplicate=[ ]
for i in list:
    if i not in original:
        original.append(i)
    else:
        duplicate.append(i)
print("list",original)
print("duplicate number list:",duplicate)

list [5, 8, 4, 18, 55, 6, 3, 44]
duplicate number list: [8, 8, 18, 5, 3]

In [50]:
list = ["cat","tiger","lion", "zebra" , "crocodile", "snack"]
reversed_list=[]
for i in reversed(list):
    reversed_list.append(i)
print(reversed_list)

['snack', 'crocodile', 'zebra', 'lion', 'tiger', 'cat']

In [58]:
x = 3
a = [1, 2, 3, 4, 5]


is_member = False
for item in a:
    if item == x:
        is_member = True
        break  

print(f"Is {x} a member of {a}? {is_member}")

Is 3 a member of [1, 2, 3, 4, 5]? True

In [61]:
x=[1,2,3,4,5]
y=[4,5,6,7,8]
z=[]
for i in x:
    if i in y:
        z.append(i)
print("the common elements :",z)

the common elements : [4, 5]

In [74]:
hundred_meters = ['Vikay', 'John', 'Kumar', 'Rajesh', 'Malar', 'Vaihai']
two_hundred_meters = ['Vetry', 'Petter', 'Priyanka', 'Kumar', 'Malar']


hundred_meters_set = set(hundred_meters)
two_hundred_meters_set = set(two_hundred_meters)


only_hundred_meters = hundred_meters_set - two_hundred_meters_set
print(f"Athletes who participated only in 100m race: {only_hundred_meters}")


only_two_hundred_meters = two_hundred_meters_set - hundred_meters_set
print(f"Athletes who participated only in 200m race: {only_two_hundred_meters}")


both_races = hundred_meters_set & two_hundred_meters_set
print(f"Athletes who participated in both 100m and 200m race: {both_races}")


only_one_race = (hundred_meters_set | two_hundred_meters_set) - (hundred_meters_set & two_hundred_meters_set)
print(f"Athletes who participated in only one race: {only_one_race}")

Athletes who participated only in 100m race: {'Rajesh', 'Vaihai', 'John', 'Vikay'}
Athletes who participated only in 200m race: {'Petter', 'Priyanka', 'Vetry'}
Athletes who participated in both 100m and 200m race: {'Kumar', 'Malar'}
Athletes who participated in only one race: {'John', 'Vikay', 'Vetry', 'Rajesh', 'Vaihai', 'Priyanka', 'Petter'}

In [84]:
for i in range(0,4):
    for k in range(0,4-i):
        print(" ", end=" ")
    for j in range(1,2*i):
        print(chr(64+j), end= "  ")
    print(" ")

      A
    A  B  C
  A  B  C  D  E

In [85]:
for i in range(0,4):
    for k in range(0,4-i):
        print(" ", end=" ")
    for j in range(1,i+1):
        print(chr(64+j), end= "  ")
    print(" ")

      A
    A  B
  A  B  C

In [86]:
for i in range(1,4):
    for j in range(1,4-i):
        print("",end=" ")
    for k in range(1, 2*i):
        print("*",end="")
    print(" ")

  *
 ***
*****

In [87]:
for i in range(4,0,-1):
    for j in range(0,4-i):
        print("",end=" ")
    for k in range(0, 2*i-1):
        print("*",end="")
    print(" ")

*******
 *****
  ***
   *

In [88]:
for i in range(4,0,-1):
    for j in range(0,4-i):
        print("",end=" ")
    for k in range(1, 2*i-2):
        print("*",end="")
    print(" ")

*****
 ***
  *